apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  namespace: final-project
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app
        image: unba/devops-final-project:8415f2bf3e95133e8eecd0e56b18503ec6094f04
        ports:
        - containerPort: 80